{% extends "templates/main.njk" %}

{% set title = 'World Of Games - ШОУ САУНДТЕКОВ' %}

{% set description = 'Шоу саундтреков из популярных видеоигр. Комбо визуальных эффектов, светового шоу и мощного звука!' %}

{% set bodyClass = 'main-page' %}

{% block content %}
	
{% endblock %}

{% block scripts %}

{% endblock %}