{% extends "templates/main.njk" %}

{% set title = 'World Of Games - ШОУ САУНДТЕКОВ' %}

{% set description = 'Шоу саундтреков из популярных видеоигр. Комбо визуальных эффектов, светового шоу и мощного звука!' %}

{% set bodyClass = 'main-page' %}

{% block content %}
  {% include "blocks/first.njk" %}
  {% include "blocks/about.njk" %}
  {% include "blocks/sounds.njk" %}
  {% include "blocks/reviews.njk" %}
{% endblock %}

{% block scripts %}
  <script>
    // Слайдер свиедоиграми
    $(function () {
      $('.js-albums-slider').slick({infinite: false});
    });
    // Слайдер отзывов
    const swiper = new Swiper('.swiper', {
      effect: "cards",
      grabCursor: true,

      // effect: "creative",
      // creativeEffect: {
      //  prev: {
      //    shadow: true,
      //    translate: [0, 0, -400]
      //  },
      //  next: {
      //    translate: ["100%", 0, 0]
      //  }
      //},

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    });
  </script>
{% endblock %}