{% extends "templates/main.njk" %}

{% set title = 'World Of Games - ШОУ САУНДТЕКОВ' %}

{% set description = 'Шоу саундтреков из популярных видеоигр. Комбо визуальных эффектов, светового шоу и мощного звука!' %}

{% set bodyClass = 'main-page' %}

{% block content %}
  {% include "blocks/first.njk" %}
  {% include "blocks/about.njk" %}
  {% include "blocks/sounds.njk" %}
{% endblock %}

{% block scripts %}
  <script>
    // Слайдер свиедоиграми
    $(function () {
      $('.js-albums-slider').slick({infinite: false});
    });
  </script>
{% endblock %}