<main>
  <div class="container text-center">
    {# Date #}
    <div class="wg-DateStart mb-4">26 августа</div>
    {# Title #}
    <h1 class="h1">Шоу саундтреков из популярных видеоигр</h1>
    {# Desc #}
    <p>К-к-к-комбо визуальных эффектов, светового шоу и мощного звука</p>
    {# Buy #}
    <button class="wg-Btn mt-4">
      Купить билеты
    </button>
  </div>
</main>