<main>
  {# First screen #}
  <div class="vh-100 d-flex align-items-center position-relative">
    <img
      class="position-absolute"
      style="
        left: -46%;
        top: 28%;
        width: 100%;
        z-index: -1;
        transform: rotate(28deg);
      "
      src="lpFiles/wog/images/sphere.png"
      alt=""
    >

    <div class="container text-center">
      {# Date #}
      <div class="wg-DateStart wg-corners my-4">26 августа</div>
      {# Title #}
      <h1 class="h1">Шоу саундтреков из популярных видеоигр</h1>
      {# Desc #}
      <p>К-к-к-комбо визуальных эффектов, светового шоу и мощного звука</p>
      {# Buy #}
      <div class="glitch-button mt-4">
        <a href="#sessions" class="wg-Btn">
          Купить билеты
        </a>
      </div>
    </div>
  </div>
  {# Second screen #}
  <div class="container text-center py-5">
    <h2 class="h1 mb-3">При поддержке</h2>
    {# Sponsors #}
    <div class="d-flex flex-wrap justify-content-center align-items-center">
      {% for i in range(0, 7) %}
        <div style="max-width: 60px" class="m-2">
          <a href="#" target="_blank">
            <img src="https://picsum.photos/200/200" alt="" class="w-100"/>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</main>