<footer class="position-relative pt-5 mt-5 pb-4">
  <img class="position-absolute top-0" src="lpFiles/wog/images/footer-devider.svg" style="width: 100%; z-index: -1;" alt="">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-5 text-center mb-3">
        <img class="w-100" src="lpFiles/wog/images/logo.png" alt="Лого">
        <div class="fw-light mt-2">
          <small>© Атмосфера 2021</small>
        </div>
      </div>
      <div class="col-6 fw-light text-end">
        <div>
          ООО «Новостар»
        </div>
        <div>
          ИНН 4345462123
        </div>
        <div>
          КПП 434501001
        </div>
        <div>
          ОГРН 1174350003310
        </div>
        <div class="my-2">
          <a href="#" class="text-white text-decoration-none">Политика конфиденциальности</a>
        </div>
        <div>
          <a href="#" class="text-white text-decoration-none">Возврат билетов</a>
        </div>
      </div>
    </div>
  </div>
</footer>