<header class="wg-Header position-absolute" style="width: 100%;">
  <div class="container">
    {# Logo #}
    <div class="wg-Header__Logo">
      <img src="static/images/logo.png" alt="логотип" class="w-100">
    </div>
    {# Open Mobile Menu Button #}
    <button class="wg-OpenMenuButton">
      <span hidden>Открыть меню</span>
    </button>
  </div>
</header>