<header class="wg-Header position-absolute" style="width: 100%;">
  <div class="container">
    {# Logo #}
    <div class="wg-Header__Logo">
      <img src="lpFiles/wog/images/logo.png" alt="логотип" class="w-100">
    </div>
    {# Open Mobile Menu Button #}
    <a href="#menu" class="wg-OpenMenuButton">
      <span hidden>Открыть меню</span>
    </a>
    {# Menu #}
    <div class="wg-MenuMobile" id="menu">
      <a href="#closeMenu" class="wg-MenuMobile__close">+</a>
      <div class="wg-MenuMobile__inner">
        <nav class="my-auto">
          <ul>
            <li>
              <a href="#">О шоу</a>
            </li>
            <li>
              <a href="#">Саундтреки</a>
            </li>
            <li>
              <a href="#">Отзывы</a>
            </li>
            <li>
              <a href="#">Как добраться</a>
            </li>
          </ul>
        </nav>

        <div>
          <a href="tel:+7 (925) 726-40-05" class="d-block wg-corners px-3 py-2">+7 (925) 726-40-05</a>
        </div>
      </div>
    </div>
  </div>
</header>