<section class="py-5 overflow-hidden">
  <div class="container">
    {# Title #}
    <h2 class="h1 text-center mb-4">Отзывы</h2>
    {# Reviews Slider #}
    <!-- Slider main container -->
    <div class="wg-ReviewsSlider swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <!-- Slides -->
        {% for i in range(10) %}

          <div class="swiper-slide">
            <div class="wg-Review">
              <div class="wg-Review__inner bg-black p-3">
                <div class="mb-3 position-relative" style="width: 50%; max-width: 250px;">
                  <div style="padding-top: 100%;"></div>
                  <img src="https://picsum.photos/300/300" alt="" class="position-absolute left-0 top-0 h-100 w-100 wg-corners-primary" style="object-fit: cover;">
                </div>
                <div class="fw-bold">
                  <big>Артем</big>
                </div>
                <div class="text-secondary">20.02.20</div>
                <p class="mb-2">Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото. Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото...</p>
                <a href="#" class="text-secondary">Читать полностью</a>
              </div>
            </div>
          </div>

        {% endfor %}

      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev">
        <button></button>
      </div>
      <div class="swiper-button-next">
        <button></button>
      </div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>