{% set text = "Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото. Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото..." %}
{% set text_full = "Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото. Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото. Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото. Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото. Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото. Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото. Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото. Краткое описание концерта, ниже которого видео. После видео идет дополнительное описание концерта и фото." %}

<section class="py-5 overflow-hidden" id="reviews">
  <div class="container">
    {# Title #}
    <h2 class="h1 text-center mb-4 text-md-start">
      <span class="wg-glitch" data-text="Отзывы">Отзывы</span>
    </h2>
    {# Reviews Slider #}
    <!-- Slider main container -->
    <div class="wg-ReviewsSlider swiper js-reviews-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <!-- Slides -->
        {% for i in range(10) %}

          <div class="swiper-slide">
            <div class="wg-Review mx-md-3">
              <div class="wg-Review__inner bg-black p-3">
                <div class="mb-3 position-relative" style="width: 50%; max-width: 150px;">
                  <div style="padding-top: 100%;"></div>
                  <img src="https://picsum.photos/300/300" alt="" class="position-absolute left-0 top-0 h-100 w-100 wg-corners-primary" style="object-fit: cover;">
                </div>
                <div class="fw-bold">
                  <span style="font-size: 1.2rem">Артем</span>
                </div>
                <div class="text-secondary">20.02.20</div>
                <div class="wg-scrollable">
                  <div onclick="this.style.height = this.clientHeight + 'px'; this.innerHTML = '{{ text_full }}';" style="overflow: scroll; padding-bottom: 2rem;">
                    <p class="mb-2">{{ text }}</p>
                    <span class="text-secondary cur-pointer">Читать полностью</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% endfor %}

      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev">
        <button></button>
      </div>
      <div class="swiper-button-next">
        <button></button>
      </div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>