<section class="py-5" id="sounds">
  <div class="container text-center">
    <h2 class="h1">Саундтреки</h2>
    <p class="mb-5">На шоу вы услышите саундтреки из популярных видеоигр</p>

    <div class="js-albums-slider">
      {% for i in range(0, 4) %}
        <div>
          <div class="js-albums-slider__slide">

            {% for a in range(0, 4) %}

              <div class="wg-Album">
                <div class="wg-Album__preview">
                  <img src="lpFiles/wog/images/albums/01.png" alt="HALF-LIFE 2">
                </div>
                <strong class="wg-Album__name">HALF-LIFE {{i+a}}</strong>
              </div>

            {% endfor %}

          </div>
        </div>

      {% endfor %}
    </div>

    <div class="py-4"></div>

    <div class="position-relative pt-2" id="sessions">
      <img class="position-absolute top-50 start-50 translate-middle" style="width: 90%; z-index: -1;" src="lpFiles/wog/images/seans-decor.svg" alt=""/>
      <h2 class="h1">Сеансы</h2>
    </div>

    {% for i in range(0, 3) %}

      {# Session #}
      <div class="mt-4 mx-auto d-md-flex align-items-center justify-content-between" style="width: 85%;">
        {# Time #}
        <div style="min-width: 11rem;">
          <div class="text-info">18:00</div>
          <div class="text-secondary">26.08.21</div>
        </div>
        {# Place #}
        <div class="mt-2 mb-3">
          <div>Дом Кино, Vegas City Hall</div>
          <div class="fw-light">билеты от <span class="text-primary fw-bold">1000 рублей</span></div>
        </div>
        {# Buy #}
        <a class="wg-Btn text-nowrap" target="_blank" href="#">
          Купить билеты
        </a>
      </div>

    {% endfor %}

  </div>
</section>