<section class="py-5">
  <div class="container text-center">
    <h2 class="h1">Саундтреки</h2>
    <p class="mb-5">На шоу вы услышите саундтреки из популярных видеоигр</p>

    <div class="js-albums-slider">
      {% for i in range(0, 4) %}
        <div>
          <div class="js-albums-slider__slide">

            {% for a in range(0, 4) %}

              <div class="wg-Album">
                <div class="wg-Album__preview">
                  <img src="static/images/albums/01.png" alt="HALF-LIFE 2">
                </div>
                <strong class="wg-Album__name">HALF-LIFE {{i+a}}</strong>
              </div>

            {% endfor %}

          </div>
        </div>

      {% endfor %}
    </div>

    <div class="py-4"></div>

    <div class="position-relative">
      <img class="position-absolute top-50 start-50 translate-middle" style="width: 90%;" src="static/images/seans-decor.svg" alt=""/>
      <h2 class="h1">Сеансы</h2>
    </div>

  </div>
</section>