<section class="py-5" id="sounds">
  <div class="container text-center text-md-start">
    <h2 class="h1">
      <span class="wg-glitch" data-text="Саундтреки">Саундтреки</span>
    </h2>
    <p class="mb-5">На шоу вы услышите саундтреки из популярных видеоигр</p>

    <div class="js-albums-slider wg-AlbumsSlider slick-slider text-center">
      {% for i in range(0, 25) %}

        <div>
          <div class="wg-AlbumsSlider__slide">
            <div class="wg-Album">
              <div class="wg-Album__preview">
                <img src="lpFiles/wog/images/albums/01.png" alt="HALF-LIFE 2">
              </div>
              <strong class="wg-Album__name">HALF-LIFE</strong>
            </div>

          </div>
        </div>

      {% endfor %}
    </div>

    <div class="py-4 py-lg-5"></div>

    <!-- Modal -->
    <div class="modal fade" id="covidFreeInfo" tabindex="-1" aria-labelledby="covidFreeInfoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent position-relative">
          <button type="button" class="btn-close position-absolute text-dark" data-bs-dismiss="modal" aria-label="Закрыть" style="top: 0px; right: 10px;z-index: 11;background: none;border: none;font-size: 2rem;transform: rotate(45deg);">+</button>
          <div class="modal-body text-dark bg-primary wg-Map">
            <p class="p-3 m-0" style="font-size: 1rem;">
              На мероприятие необходим <b>QR-код</b> о вакцинации, либо свежий <b>ПЦР-тест</b>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="position-relative pt-2 pt-lg-5" id="sessions">
      <img class="position-absolute top-50 start-50 translate-middle d-md-none" style="width: 90%; z-index: -1;" src="lpFiles/wog/images/seans-decor.svg" alt=""/>
      <img class="position-absolute top-50 start-50 translate-middle d-none d-md-inline" style="width: 90%; z-index: -1; opacity: 0.2;" src="lpFiles/wog/images/seans-decor.svg" alt=""/>
      <a href="#covidFreeInfo" data-bs-toggle="modal" data-no-anchor>
        <img src="lpFiles/wog/images/covid-free.svg" class="rounded my-4 my-lg-2" alt="COVID-free" style="width: 40%; max-width: 7rem;">
      </a>
      <h2 class="h1">
        <span class="wg-glitch" data-text="Сеансы">Сеансы</span>
      </h2>
    </div>

    {% for i in range(0, 3) %}

      {# Session #}
      <div class="mt-4 mx-auto mx-md-0 d-md-flex align-items-center justify-content-between">
        {# Time #}
        <div class="d-md-flex flex-row-reverse justify-content-start">
          <div class="text-info mx-md-3">18:00</div>
          <div class="text-secondary">26.08.21</div>
        </div>
        {# Place #}
        <div class="mt-2 mb-3 d-md-flex">
          <div>Дом Кино, Vegas City Hall</div>
          <div class="fw-light mx-md-4">билеты от <span class="text-primary text-md-info fw-bold">1000 рублей</span></div>
        </div>
        {# Buy #}
        <a class="wg-Btn text-nowrap abiframelnk" href="https://w.intickets.ru/seance/12006786/?wkey=11178534">Купить билет</a>
      </div>

    {% endfor %}

  </div>
</section>

<div class="container position-relative">
  <img class="wg-first-decor" src="lpFiles/wog/images/sphere.gif" alt="">
</div>