@import "grid.scss";

// Corners

@mixin corners($shorthand) {
  // 40px 10px solid black;
  $cs: nth($shorthand, 1); // corner-size
  $-cs: calc(100% - #{$cs}); // corner-width from ends
  $bw: nth($shorthand, 2); // border-width
  $bs: nth($shorthand, 3); // border-style
  $bc: nth($shorthand, 4); // border-color

  border: $bw $bs $bc;

  $bw: $bw + 1px; // border-width
  $-bw: calc(100% - #{$bw} - 1px); // border-width from ends

  clip-path: polygon(
    0 $cs,
    0 0,
    $cs 0,
    $cs $bw,
    $-cs $bw,
    $-cs 0,
    100% 0,
    100% $cs,
    $-bw $cs,
    $-bw $-cs,
    100% $-cs,
    100% 100%,
    $-cs 100%,
    $-cs $-bw,
    $cs $-bw,
    $cs 100%,
    0 100%,
    0 $-cs,
    $bw $-cs,
    $bw $cs
  );
}

.wg-corners {
  @include corners(rem(12px) 1px solid $info);
}

// Glitch button

$clip: polygon(0 0, 68% 0, 71% 7%, 95% 8%, 100% 30%, 100% 100%, 5% 100%, 0 76%);

.wg-Btn {
  cursor: pointer;
  padding: rem(10px) rem(40px);
  font-weight: 700;
  border: none;
  position: relative;
  background: none;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: $clip;
    z-index: -1;
  }

  &::after {
    background: $primary;
  }

  &::before {
    background: rgba($white, 0.7);
    transition: transform 0.2s;
  }

  &:active::after {
    background: darken($primary, 20%);
  }

  &:hover::before {
    transform: translate(-7px, 7px);
  }
}

// Vidwo Wrap

.wg-VideoWrap {
  background: $primary;
  padding: 5%;
  clip-path: polygon(
    0% 0%,
    5% 0%,
    5% 7%,
    82% 6%,
    81% 0,
    97% 0,
    97% 6%,
    100% 8%,
    100% 50%,
    97% 54%,
    97% 77%,
    100% 79%,
    100% 100%,
    94% 100%,
    94% 96%,
    20% 96%,
    20% 100%,
    3% 100%,
    3% 96%,
    0% 93%,
    0 54%,
    2% 51%,
    2% 26%,
    0 22%
  );

  &__preview {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      button {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 1;
      }

      img {
        transform: scale(1.7);
        transition: all 35s;
      }
    }

    &::before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    button {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 15%;
      opacity: 0.6;
      transition: all 0.3s;
      border: none;
      background: none;

      svg {
        width: 100%;
      }
    }
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
