@import "grid.scss";

.text-gray {
  color: $gray;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cur-pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline !important;
}

.cube::after {
  content: '';
  display: block;
  padding-top: 100%;
}

.cube-75::after {
  content: '';
  display: block;
  padding-top: 75%;
}

.cube-50::after {
  content: '';
  display: block;
  padding-top: 50%;
}
