@include media-breakpoint-up("sm") {
  @include first--sm();
}

@include media-breakpoint-up("md") {
  .text-md-info {
    color: $info !important;
  }

  @include header--md();
  @include first--md();
  @include reviews--md();
}

@include media-breakpoint-up("lg") {
  h1,
  .h1 {
    font-size: 2.5rem;
  }

  body {
    background-size: 80%;
    background-repeat: repeat-y;
    background-position: right;
  }

  .text-lg-info {
    color: $info !important;
  }

  @include header--lg();
  @include first--lg();
}

@include media-breakpoint-up("xl") {
  @include first--xl();
}

@include media-breakpoint-up("xxl") {
  @include first--xxl();
}
