// TODO: Удалить этот код на продакшене
body::after {
  position: fixed;
  content: 'xl';
  display: block;
  background: $info;
  color: $secondary;
  left: 5px;
  bottom: 5px;
  font-weight: 700;
  padding: 3px 5px;
  font-size: 20px;
  text-transform: uppercase;
  opacity: .5;
  border-radius: 4px;
  z-index: 9999999;
}

body::before {
  position: fixed;
  content: '❮❮ При публикации этой надписи не будет';
  display: block;
  background: $white;
  color: $secondary;
  left: 45px;
  bottom: 5px;
  font-weight: 700;
  padding: 3px 5px;
  font-size: 10px;
  text-transform: uppercase;
  opacity: .7;
  border-radius: 4px;
  z-index: 9999999;
}

body::before, body::after {
  display: none;
}

@include media-breakpoint-down('lg') {
  // TODO: Удалить следующую строчку на продакшене
  body::after { content: 'lg'; }

  html {
    font-size: 15px;
  }

  h1, .h1 {
    font-size: 2.7rem;
  }
}

@include media-breakpoint-down('md') {
  // tmp code
  body::after { content: 'md'; }

  html {
    font-size: 14px;
  }
}

@include media-breakpoint-down('sm') {
  // TODO: Удалить следующую строчку на продакшене
  body::after { content: 'sm'; }

  html {
    font-size: 13px;
  }

  h1, .h1 {
    font-size: 2.4rem;
  }
}

@include media-breakpoint-down('xs') {
  // TODO: Удалить следующую строчку на продакшене
  body::after { content: 'xs'; }

  html {
    font-size: 12px;
  }
}