.wg-DateStart {
  padding: rem(10px) rem(35px);
  font-family: $accent-font;
  font-size: rem(18px);
  display: inline-block;
}

.wg-first-decor {
  position: absolute;
  left: -46%;
  top: 28%;
  width: 100%;
  z-index: -3;
  transform: rotate(28deg);
  animation-name: sphere;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.wg-first-decor-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  z-index: -1;
  opacity: 0.5;
}

.js-sponsors-slider {
  .slick-track {
    display: flex;
    align-items: center;
  }

  img {
    filter: grayscale(1);

    transition: all 0.5s;

    &:hover {
      filter: grayscale(0);
    }
  }
}

@mixin first--sm() {
  .wg-first-decor {
    width: 60%;
    left: inherit;
    right: -10%;
    top: calc(50% + 100px);
    transform: translateY(-50%);
  }
}

@mixin first--md() {
  #main .h1 {
    max-width: 380px;

    & + p {
      max-width: 300px;
    }
  }
}
@mixin first--lg() {
  #main .h1 {
    max-width: 460px;

    & + p {
      max-width: 360px;
    }
  }
}
@mixin first--xl() {
}

@mixin first--xxl() {
  .wg-first-decor {
    width: 50%;
    right: 0;
  }
}
