.wg-Header {
  padding: 30px 0;
  height: 145px;
  z-index: 999;

  .container {
    position: relative;
  }

  &__Logo {
    max-width: 100px;
    margin: 0 auto;
  }
}

.wg-OpenMenuButton {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: 0;
  background: none;
  width: 40px;
  padding: 16px 0;
  transition: background 0.3s;

  &:hover {
    &::after,
    &::before {
      background: $primary;
    }
  }

  &::after,
  &::before {
    content: "";
    display: block;
    background: $white;
    height: 2px;
  }

  &::before {
    margin-bottom: 4px;
  }

  &::after {
    width: 80%;
    margin-left: auto;
  }
}

.wg-MenuMobile {
  clip-path: polygon(
    0 0,
    0 25%,
    2% 29%,
    2% 46%,
    0 48%,
    0 92%,
    3% 95%,
    3% 100%,
    100% 100%,
    100% 78%,
    98% 73%,
    98% 56%,
    100% 51%,
    100% 6%,
    97% 5%,
    97% 0
  );
  padding-left: 2%;
  padding-bottom: 1%;
  background: $primary;

  position: fixed;
  z-index: 101;

  top: 0;
  right: 0;
  height: 100%; /* Fallback */
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  height: stretch; /* Latest specification */
  z-index: 1001;

  transform: translateX(100%);
  transition: transform 0.4s;

  &:target {
    transform: translateX(0);
  }

  a {
    color: $white;
    text-decoration: none;
    font-weight: 300;
  }

  &__inner {
    height: 100%;
    background: $black;
    padding: 50px 20px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-weight: 300;
    font-size: 30px;
    padding: 10px 20px;
    transform: rotate(45deg);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: rem(20px);

    li {
      margin-bottom: rem(20px);

      &:hover {
        a {
          color: $primary;
        }
      }
    }
  }
}

@mixin header--lg() {
  .wg-Header {
    .container {
      display: flex;
      align-items: center;
    }
  }

  .wg-OpenMenuButton {
    display: none;
  }

  .wg-MenuMobile {
    position: static;
    transform: none;
    padding: 0;
    clip-path: none;
    width: 100%;
    background: none;
    transition: none;

    &__inner {
      padding: 0;
      flex-direction: row;
      background: none;
    }

    &__close {
      display: none;
    }

    nav {
      margin-left: auto;
      margin-right: auto;
    }

    ul {
      display: flex;

      li {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}
